  
  /**--cards--**/
  
  .card{
    padding:20px;
    border:2px solid grey;
    width: 300px;
    float:left;
    box-shadow: 10px 10px 10px grey;
    margin:20px;
  }
  .card-content{
    text-transform: uppercase;
    text-align: center;
  }
 .card-btn i{
     color:green;
 }
  